/*
  Main Stylesheet
*/

* {
  box-sizing: border-box;
}

.body {
  width: 500px;
  font-family: sans-serif;
}

.listSection {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 200px;
  height: auto;
}

.todoHeader {
  color: #ff9999;
  font-size: 50px;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

.listDiv {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17), 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  background-color: white;
  border: 1px solid #d9d9d9;
  margin: 0 20px 50px 20px;
}

.todoList {
  list-style: none;
  padding-left: 0;
}

.todoList__text {
  color: #404040;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 25px;
  margin-top: 0px;
  outline: none;
  padding-left: 50px;
  padding-bottom: 15px;
  width: 100%;
}

.listSubmit {
  display: none;
}

.todo__items {
  position: relative;
}

.circleOutline {
  border: 1px solid lightgreen;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin: 10px 15px;
  vertical-align: bottom;
  width: 20px;
}

.checkMark {
  font-size: 15px;
  display: none;
  margin: 0;
  padding-left: 3px;
}

.todo__item {
  color: #404040;
  display: inline-block;
  font-size: 25px;
  line-height: 40px;
  margin: 0;
  vertical-align: middle;
  width: 82%;
}

.listUnderline {
  border-bottom: 1px solid lightgrey;
  height: 46px
  font-size: 0;
}

.todo__itemDelete {
  background: none;
  color: red;
  display: inline-block;
  margin-top: 12px;
  position: absolute;
  right: 15px;
  vertical-align: top;
}

.todo__footer {
  color: #404040;
  margin-left: 20px;
  padding-top: 15px;
  vertical-align: middle
}
